body{
	margin: 0;
    padding: 0;
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
}

#container{
	width: 960px;
	margin: 0 auto;
	display: inline-block;
}

.navbar{
	margin-top: 0;
/*	margin-right: auto;
	margin-left: auto;*/
	padding-top: 0px;
	background-image:url('images/navbar.png');
	background-repeat: repeat-x;
	display: block;
	width: 100%;
	height: 60px;
/*	padding-left: 170px;*/
	float: left;
}

.logo{
	height: 60px;
	width: 56px;
	float: left;
	background-image: url('images/logo.png')
}

.logotext{
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	color: #ffffff;
	font-weight: 700;
	text-shadow: 1px 1px 1px #1D1D1D;
	margin-left: 10px;
	float: left;
}

.navtext{
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #1D1D1D;
	margin-left: 10px;
	float: left;	
}

/*.navmenu{
	height: 40px;
	width: 100%;
	color: white;
	position: relative;
	list-style: none;
}*/

.navbar ul{
	font-size: 16px;
	line-height: 22px;
	text-align: center;
/*	margin-right: 100px;*/
	color: white;
	text-shadow: 1px 1px 1px #1D1D1D;
	float: left;
}

.navbar li{
	text-align: center;
	position: relative;
	padding: 4px;
	margin-right: 30px;
	float: left;
}

.navbar li a{
	color: #ffffff;
	display: block;
	text-shadow: 1px 1px 1px #1D1D1D;
}

.account{
	margin-top: 0;
	float: right;
	width: 155px;
}

.account .image{
	float: left;
}

.account .username{
	color: white;
	text-shadow: 1px 1px 1px #1D1D1D;
	line-height: 22px;
}

.header{
	height: 150px;
	background-color: #ffffff;
	color: #414141;	
	font-size: 32px;
	font-weight:300;
	line-height: 90px;
/*	padding-left: 120px;*/
}

.featured{
	height: 575px;
	background-color: #f2f0ec;
	padding-top: 30px;
/*	width: 100%;
	height: 638px;
	padding-left: 170px;
	position: absolute;
	float: left;*/
}

.featured .content{
	float: left
	width: 40%;
	display: inline;
}

.featured .sidebar{
	float: right;
	width: 35%;
	min-height: 200px;
}

.box{
	width: 140px;
	height: 150px;
	padding-left: 20px;
	display: inline-block;
}

.box .numbers{
	height: 120px;
	background-color: #d0cdc7;
	color: #ffffff;
	line-height: 120px;
	font-size: 60px;
	font-weight: 400
	text-shadow: 1px 1px #b5aea3;
}

.box .text{
	width: 140px;
	height: 30px;
	background-color: #b5aea3;
	color: #65635f;
	font-size: 12px;
	line-height: 30px;
	text-shadow: 1px 1px .5px #ddd;
}

.main{
	padding-top: 30px;
	height: 610px;
	background-color: #ffffff;
/*	float: left;*/
/*	width: 100%;
	height: 320px;
	padding-left: 170px;*/
}

.main .highlights{
	width: 30%;
	display: inline;
	padding: 20px;
/*	margin-top: 30px;
	margin-right: 20px; */
}

.main .highlights .caption{
/*	width: 70%;*/
	float: left;
}

.main .highlights /*.caption */.text1{
	text-align: left;
	font-size: 14px;
	font-weight: 900;
}

.main .highlights /*.caption */.text2{
	text-align: left;
	font-size: 12px;
	font-weight: 400;
}

.main .timestamp2{
	/*float: right;*/
	width: 10%;
	display: inline;
	font-size: 10px;
}

.main h2{
	font-size: 16px;
	text-align: left;
	font-weight: 400;
}

.main .left{
	font-size: 10px;
	float: left;
	width: 60%;
	display: inline;
}

.main .sidebar{
	float: right;
	width: 35%;
	min-height: 200px;
	background-color: #d0cdc7;
} 

table{
	border-collapse: collapse;
	width: 100%;
	font-size: 11px;
}

table td{

}

table th{

}

.middle{

}

.right{

}

/*	width: 100%;*/
/*	height: 288px;
	font-size: 24px;*/
/*	text-align: left;*/
/*	padding-left: 170px;
*/

.footer{
	height: 340px;
	background-color: #545352;
	color: white;
	padding-top: 20px;
/*	background-image:url('images/footer.png');
	background-repeat: repeat-x;	
	width: 100%;
	height: 341px;
	position: absolute;
	font-color: white;
	padding-left: 170px;*/
}

.footer .title{
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #1D1D1D;
	text-align: left;
	padding-bottom: 15px;
}

.footer .article{
	font-size: 10px;
	text-shadow: 1px 1px 1px #1D1D1D;
	text-align: left;
	width: 60%;
}

.first {
	width: 30%;
	display: inline-block;
	margin-left: 0;
	clear: both;
}

.one-half{
	float: left;
	width: 48%;
	margin-left: 2%;
}

.one-half .first{
	margin-left: 0;
	clear: both;
}

#footer .second{
	width: 30%;
	display: inline-table;
	margin-left: 50px;
}

.inputs{
	 background: #f5f5f5; 
  font-size: 0.8rem; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px; 
  border: none; 
  padding: 13px 10px; 
  width:270px; 
  margin-bottom: 20px; 
  box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 ); 
  clear: both; 
	background: #F1F1F1 url(./images/emailcheck.png) no-repeat;
	background-position: 95% 5% ;}
}

/*.startbox{
	width: 300px;
	height: 209px;	
}*/

.socialmedia{
	color: #BDBCBC;
	font-size: 12px;
	line-height: 30px;
	border-bottom: 2px solid #494949;
}

#footer .third{
	width: 30%;
	display: inline-block;
	float: right;
}